
/*Initialises padding and margin of page
initialises width and height properties*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Initialises background color of page within body of page*/
body {
    background-color: #d9dcd6;
}