/*Initialises header font, padding, background color, and text color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Sets styling for Horiseon logo including font size, color,
 and initialises as an inline block element allowing nav options to sit on same line*/
.logo{
display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

/* Initialises navigation options.
 Positioning the options to the right of the page, 
 setting margin to 20px to sit slightly away from edge of page
 Adding a top padding to ensure options are centered in header
 Sets font and font size for nav options*/
.navoptions{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*Sets styling for list elements of nav options (the options themselves)
removes dot points, 
set to inline block so options can sit next to eachother, 
add margin so elements have a gap between them*/ 
.navoptions li{
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}
/*Sets color of nav options text
ensures no underline or decoration to text*/
.navoptions li a {
    text-decoration: none;
    color: #ffffff;
}

/*Sets size, and margin of main landing image*/
.landingImg {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

/*Ensures all float left includes a margin of 25px for visual aesthetics purposes*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Ensures all float right includes a margin of 25px for visual aesthetics purposes*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Sets size, margin, padding, background color of section
Sets font and color of text*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Sets size, margin, padding, background color of section
Sets font and color of text*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Sets size, margin, padding, background color of section
Sets font and color of text*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Sets max height of image*/
.search-engine-optimization img {
    max-height: 200px;
}
/*Sets max height of image*/

.online-reputation-management img {
    max-height: 200px;
}
/*Sets max height of image*/

.social-media-marketing img {
    max-height: 200px;
}
/*Sets font size and margin of text*/

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Sets font size and margin of text*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Sets font size and margin of text*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Sets width of section
Sets do inline block to allow other items to sit alongside section
sets a margin to the left to sit away from edge of page*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Sets font size of paragraphs to 16px*/
.content p {
    font-size: 16px;
}
/*Sets margin and padding
sets sidebar to right side of page
sets width and height of sidebar
sets to ignore other float properties within sidebar*/
.sidebar {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Sets font size of paragraphs to 16px*/
.sidebar p {
    font-size: 16px;
}
/*Sets margin and color of text within section*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Sets margin and color of text within section*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Sets margin and color of text within section*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Sets margin and text postion of header*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Sets margin and text postion of header*/

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Sets margin and text postion of header*/

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Sets image to block to ensure on own line within sidebar
sets max width and margin of image*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Sets image to block to ensure on own line within sidebar
sets max width and margin of image*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Sets image to block to ensure on own line within sidebar
sets max width and margin of image*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Sets padding of footer
Ignores floats in other formatting contexts
sets font of text within footer
aligns text to center*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Sets font size of header in footer*/
.footer h4 {
    font-size: 20px;
}
